Checks: >
  clang-analyzer-*,
  modernize-*,-modernize-use-trailing-return-type,
  cppcoreguidelines-*,-cppcoreguidelines-pro-type-vararg,
  performance-*,
  readability-*,
  bugprone-*,
  cert-*,
  misc-*,-misc-include-cleaner

WarningsAsErrors: >
  clang-analyzer-*,
  modernize-*,
  cppcoreguidelines-*,
  performance-*,
  readability-*,
  bugprone-*

HeaderFilterRegex: 'src/.*'
FormatStyle: file
ExtraArgs: ['-std=c++20']
