Checks: >
  clang-analyzer-*,
  modernize-*,
  cppcoreguidelines-*,-cppcoreguidelines-pro-type-vararg,
  performance-*,
  readability-*,
  bugprone-*,
  cert-*,
  misc-*

WarningsAsErrors: >
  clang-analyzer-*,
  modernize-*,
  cppcoreguidelines-*,
  performance-*,
  readability-*,
  bugprone-*

FormatStyle: file

ExtraArgs: ['-std=c++20']
