Checks: >
  clang-analyzer-*,
  modernize-*,
    -modernize-use-nodiscard,
    -modernize-use-trailing-return-type,
  cppcoreguidelines-*,
    -cppcoreguidelines-special-member-functions,
  performance-*,
  readability-*,
    -readability-identifier-length,
    -readability-implicit-bool-conversion,
  bugprone-*,
    -bugprone-easily-swappable-parameters,
  cert-*,
  misc-*,
    -misc-const-correctness,
    -misc-include-cleaner,
    -misc-no-recursion,
    -misc-use-internal-linkage

WarningsAsErrors: >
  clang-analyzer-*,
  modernize-*,
  cppcoreguidelines-*,
  performance-*,
  readability-*,
  bugprone-*,
  cert-*,
  misc-*

HeaderFilterRegex: 'src/lib/.*'
FormatStyle: file
ExtraArgs: []
